/* =======================================================================
Kane - Responsive App Landing Page 1.7
======================================================================= */

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: url(../images/bg-4.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
            background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES                
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME                 
-----------------------------------------*/

.color-overlay {
    min-height: 1000px;
}

.full-screen {
    width: 100%;
    height: 100px;
}

/* INTRO */

.home-contents {
    margin-top: 7%;
		margin-left: 7%;
}

.intro-section {
    text-align: left;
}

.intro-section .standard-button {
    margin: 0;
}

.subscription-form-container {
    padding-bottom: 80px;
}

.subscription-form .input-box {
    height: 37px;
    padding-left: 20px;
    width: 320px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #FFF;
    border: 2px solid #FFF;
}

.subscription-form .input-box:focus, 
.subscription-form .input-box:active {
    color: #000;
    font-weight: 400;
}

.subscription-form .subscription-success,
.subscription-form .subscription-error {
    display: none;
		color: #fff;
}

.phone-image {
    max-width: 350px;
    margin: auto;
		margin-right: 10px;
    margin-bottom: 50px;
}

.phone-image img {
    width: 80%;
}

.intro-section .intro {
    color: #ffffff;
    margin-bottom: 36px;
}

.intro-section h5 {
    color: #ffffff;
}

.intro-section .buttons {
    margin-top: 35px;
}

.social-icons {
    margin-top: 500px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
}

.social-icons li {
    display: inline-block;
    margin: 5px;
}

.social-icons li a {
    font-size: 30px;
    color: #c2c2c2;
}

.copyright {
    color: #808080;
    padding-top: 10px;
    margin-bottom: 50px;
}

/*---------------------------------------
   Typography                
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON              
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 16px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 7px 20px 7px 20px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}

/*---------------------------------------
   PHONE FLICKER               
-----------------------------------------*/

.device {
    position: absolute;
    top: -40px;
    left: 20%;
    min-height: 676px;
    width: 80%;
    background: url('../images/iphone-skeleton.png') no-repeat center center;
}
.device-content {
    position: absolute;
    top: 115px;
    left: 92px;
    width: 247px;
    height: 445px;
    background: rgba(0, 0, 0, 0.3);
}
.device-content img {
    width: 247px;
    height: 445px;
}
.showcase-wrap {
    position: relative;
    padding: 100px 0;
    min-height: 600px;
}
.showcase-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.showcase-slider .flickity-page-dots {
    bottom: 20px;
}

/*---------------------------------------
   Waypoints            
-----------------------------------------*/

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
    visibility: visible
}
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/*---------------------------------------
   Custom Slider Controls (flickity)           
-----------------------------------------*/
.flickity-page-dots .dot {
    width: 13px;
    height: 13px;
    opacity: 1;
    background: transparent;
    border: 2px solid black;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.flickity-page-dots .dot.is-selected {
    background: black;
}

/*---------------------------------------
   TEXTS               
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #272727;
}

.grey-bg {
    background: #F7F8FA !important;
}

/*---------------------------------------
   LINES          
-----------------------------------------*/

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.colored-line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}